<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/user_base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Contact Page</title>
</head>
<body>
<section>

  <div class="card mr-3 ml-3">
    <div class="card-body">
      <h1 class="text-center">Your Contacts</h1>

      <!-- search-->
     <!-- <div class="search-container my-4">
        <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contact">
        <div class="search-result">
                  &lt;!&ndash;result goes here&ndash;&gt;
          <h1>this is result</h1>
        </div>
      </div>
-->
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#ID </th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${contacts}">
          <th scope="row" th:text="${'SCM2022'+c.cId}"></th>
          <td >
            <img src="" class="my_profile_picture" th:src="@{'/image/'+${c.image}}" alt="profile photo">
            <span th:text="${c.firstName}"></span></td>

          <td th:text="${c.lastName}"></td>
          <td >
            <a href="#" th:href="@{'/user/contact/'+${c.cId}}">
              <span th:text="${c.email}"></span>
            </a>
          </td>

          <td th:text="${c.phone}">

          </td>

          <td>
            <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn sm">Delete</a>

            <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">

              <button type="submit" class="btn btn-secondary btn-sm">Update</button>

            </form>
          </td>

        </tr>


        </tbody>
      </table>

      <!--      pagination part....-->

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li th:if="${currentPage != 0}" class="page-item">
            <a th:href="@{'/user/show-contact/'+${currentPage-1}}" class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}"
              class="page-item"><a th:href="@{'/user/show-contact/'+${i-1}}" class="page-link" href="#">
            <span th:text="${i}"></span></a></li>

          <li th:if="${currentPage+1 != totalPages}" class="page-item">
            <a th:href="@{'/user/show-contact/'+${currentPage+1}}" class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

</section>


</body>
</html>